* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
}


.navbar {
    background-color: hsl(13, 20%, 82%); 
    padding: 18px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 700;
}


.sections {
    display: flex;
    gap: 10px; 
    margin: 0;
    padding: 0 20px; 
}

.section {
    flex: 1;
    height: 810px;
    display: flex;
    justify-content: center;
    align-items: center;     
    font-size: 18px;
    border-radius: 10px;
}


.section1 {
    background-color: #a2c6e1;
}

.section2 {
    background-color: #e8f5e9; 
}

.section3 {
    background-color: #fff8e1; 
}


.footer {
    background-color: hsl(13, 15%, 51%);;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0;
}
.bottom-bar {
    background-color:hsl(12, 17%, 65%); 
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
