table {
    border-collapse: collapse;
    width: 60%;
  }
  th,
  td {
    border: 1px solid rgb(212, 147, 147);
    padding: 8px;
    text-align: center;
  }
  
  table tr:nth-child(2n + 3) {
    background-color: #7c8893;
  }
  
  table tr:nth-child(2n + 4) {
    background-color: #7a5607;
  }